.orta{
    margin-top: 50px;   
     background-color: rgb(250, 248, 248);
     text-align: center;
     font-weight: 200px;
 }
  
 .container{
     background-color:rgb(141, 140, 140)  ;
     margin-left: 30%;
     margin-right: 30%;
     
 }
 
 .yazilar{
     color: rgb(252, 252, 253);
 }
 
 .button {
     background-color: #555555; 
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
   }